.container {
    position: relative;
    height: 50px;
    display: flex;
    flex-direction: column;
    gap: 15px;  
}

.cardContainer {
    position: relative;
}

.card {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    width: fit-content;
    height: fit-content;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
    background-color: #cee5a3;
    z-index: 1;
}

.iconContainer {
    height: 50px;
    margin-bottom: 10px;
}

.card, .icon {
    margin-left: 20px;
}