.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    height: 100%;
    width: 100%;
    background-color: #f6ffd8ca;
}

.column{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.flexStart{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.topic {
    color: #788257;
    font-size: 60px;
    font-family: var(--font-angkor);
    user-select: none;
    margin-bottom: 10px;
}

.promptText {
    color: #788257;
    font-size: 15px;
    user-select: none;
}

.input {
    font-size: 25px;
    outline: none;  /* 移除黑框*/
    color: #788257;
    border-radius: 10px;
    background-color: #F6FFD8;
    padding: 10px 20px;
    margin-bottom: 20px;
    width: 450px;
    font-family: "Annapurna SIL", serif;
    /* border: 2px solid transparent; */
    transition: 
        box-shadow 0.5s ease,
        background-color 0.5s ease
    
}

.input:focus {
    box-shadow: 0 0 8px 2px rgba(120, 130, 87, 0.2);
}

.input:hover {
    background-color: #d4dfaed7;
}

.input::selection {    /* 反白 */
    background: #57575732;
}

.text {
    color: #788257;
}

.buttonText {
    font-size: 40px;
    user-select: none;
}

.button {
    height: 70px;
    width: 200px;
    border-radius: 30px;
    margin-top: 30px;
}