.button .iconContainer,
.button .iconText {
    color: inherit;
}

.button {
    display: flex;
    flex-direction: row;
    gap: 10px;
    border-radius: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 12px;
    padding-right: 20px;
    width: 200px;
    font-size: 35px;
    font-family: var(--font-annapurna);
    color: var(--c-icon);
    background-color: transparent;
    position: relative;
    height: 75px;
    align-items: center;
    user-select: none;
}

.button:hover {
    color: var(--c-dropdown-hover-text);
    background-color: var(--c-button);
}

.iconButtonLink {
    text-decoration: none;
    color: inherit;
}

.iconButtonLink:hover,
.iconButtonLink:focus,
.iconButtonLink:visited {
    text-decoration: none;
    color: inherit;
}

.text {
    color: inherit;
}

.iconContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
}

.iconContainer>svg {
    width: 100%;
    height: 100%;
}