.container {
    background-color: var(--c-bg);
    padding: 30px;
    border-radius: 10px;
}

.content {
    display: flex;
    flex-direction: row;
    gap: 20px;
    border-radius: 10px;
    background-color: var(--c-card);
    padding: 20px;
}

.iconRow {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-top: 10px;
    justify-content: center
}

.prompt {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: var(--c-surface);
    padding: 20px 30px 20px 30px;
    border-radius: 10px;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center
}

.card {
    background-color: var(--c-dropdown);
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.icon {
    width: 40px;
    height: 40px;
    color: var(--c-icon);
}

.icon > svg {
    height: 100%;
    width: 100%;
}

.iconText {
    color: var(--c-icon);
}

.iconText:hover {
    color: var(--c-card);
}

.textLabel {
  font-size: 25px;
}

.dropdownBtn {
    height: 35px;
    width: 250px;
    justify-content: center;
    background-color: var(--c-dropdown);
}

.dropdownBtn:hover {
    background-color: var(--c-btn-bg);
}

.buttonText1 {
    font-size: 20px;
    color: var(--c-btn-text);

}

.buttonText1:hover {
    color: var(--c-btn-hover-text);
}

.button1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    background-color: var(--c-btn-bg);
}

.button1:hover {
    background-color: var(--c-btn-hover-bg);
}

.buttonText2 {
    font-size: 20px;
    color: var(--c-btn2-text);
}

.buttonText2:hover {
    color: var(--c-btn2-hover-text);
}

.button2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    background-color: var(--c-btn2-bg);
}

.button2:hover {
    background-color: var(--c-btn2-hover-bg);
}

.buttonText3 {
    font-size: 20px;
    color: var(--c-danger-text);

}

.buttonText3:hover {
    color: var(--c-danger-hover-text);
}

.button3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    background-color: var(--c-danger-bg);
}

.button3:hover {
    background-color: var(--c-danger-hover-bg);
}

.mainText {
    font-size: 22px;
    color: var(--c-text);
    padding-top: 20px;
}

.btnRow {
    display: flex;
    flex-direction: row;
    gap: 10px;
}