@import url('https://fonts.googleapis.com/css2?family=Angkor&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Annapurna+SIL:wght@400;700&display=swap');
@import "tailwindcss";

.angkor-regular {
    font-family: "Angkor", serif;
    font-weight: 400;
    font-style: normal;
}

.annapurna-sil-regular {
    font-family: "Annapurna SIL", serif;
    font-weight: 400;
    font-style: normal;
}

:root {
    --font-angkor: "Angkor", serif;
    /* --font-angkor: "Annapurna", serif; */
    --font-annapurna: "Annapurna SIL", serif;

    --c-icon: #788257;
    --c-main-text: #788257;
    --c-dropdown-text: #788257;

    --c-button: #BBD26E;
    --c-dropdown-hover-bg: #BBD26E;

    --c-secondary-text: #57825B;
    --c-button-hover-text: #57825B;

    --c-button-hover-bg: #A8CD98;

    --c-card: #F6FFD8;
    --c-button-text: #F6FFD8;
    --c-dropdown-hover-text: #F6FFD8;

    --c-dropdown-card: #CEE5A3;

    --c-bg: #DAF1C4;
    
    --c-prompt: #E9F3C8;
}

html, body {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    background-color: #DAF1C4;
    
}

.w-color-wheel-pointer {
    width: min-content;
    height: min-content;
}